<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="./static/images/logo.png" alt="Logo">
                    <h2> Tri <span class="danger"> dente </span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <!-- <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3> Dashboard</h3>
                </a> -->
                <a href="#" class="active">
                    <span class="material-icons-sharp">perm_identity</span>
                    <h3> Clientes</h3>
                </a>
                <a id='link-productos'>
                    <span class="material-icons-sharp">inventory</span>
                    <h3> Productos </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">inventory_2</span>
                    <h3> Stock </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">leaderboard</span>
                    <h3> Ranking de Ventas por producto </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">assessment</span>
                    <h3> Ranking de ventas por servicio </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insert_chart_outlined</span>
                    <h3> Ranking de ventas por cliente </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3> Historial de ventas </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">analytics</span>
                    <h3> Informes </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3> Configuracion </h3>
                </a>
                <a href="/agregar_producto">
                    <span class="material-icons-sharp">add_circle</span>
                    <h3> Agregar Producto </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">add_circle_outline</span>
                    <h3> Agregar Servicio </h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3> Log out </h3>
                </a>
            </div>
        </aside>
        <!----- FINAL DEL ASIDE  -->
        <main>
            <h1> Bienvenido a tu Dashboard  <span id="usernameBienvenida"></span></h1>
            <div class="date">
                <input type="date">
            </div>
            <!--NAVIGATION-->
            <div class="contenido-principal">
                <h2> Productos </h2>
                <table id="table-products" class="table-products">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> Nombre </th>
                            <th> Descripcion </th>
                            <th> Precio </th>
                            <th> Stock </th>
                        </tr>
                    </thead>
                    <tbody id="list-products">
                        <!-- <tr>
                            <td> 1 </td>
                            <td> Mouse </td>
                            <td> El mejor </td>
                            <td> 12299 </td>
                            <td> 100 </td>
                            
                            <td>
                                <button class="small-button rounded-button edit-button">Editar</button>
                            </td>
                            <td>
                                <button class="small-button rounded-button delete-button">Eliminar</button>
                            </td>
                        </tr>
                    -->
                    </tbody>
                </table>
                <a href="#"> Mostrar Todos </a>  
            </div>

            
        </main>
    </div>

    <script src="/static/js/App.js"></script>
</body>
</html>